<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicio de Tutoria y Clases particulares</title>
        <link rel="stylesheet" href="/stylesheets/contacto.css">
    </head>
    <body>
        <header>
            <h1>¡Servicio de Tutoria y Clases Particulares!</h1>
            <div class="secciones">
                <nav>
                    <a href="/" class="nav-link">Inicio</a>
                    <a href="/contacto" class="nav-link">Opiniones</a>
                </nav>
            </div>
        </header>
        <footer>
            <p>Instituto certificado por el Ministerio de Educacion bajo Gaceta Oficial 12314</p>
            <p>RIF: J-12821918-0</p>
        </footer>
    </body>
</html>