<html>
    <head>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
          
            gtag('config', 'G-FC4BCWHC8X');
          </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicio de Tutoria y Clases particulares</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FC4BCWHC8X"></script>

    <body>
        <header>
            <h1>¡Servicio de Tutoria y Clases Particulares!</h1>
            <div class="secciones">
                <nav>
                    <a href="/" class="nav-link">Inicio</a>
                    <a href="/contacto" class="nav-link">Contacto</a>
                </nav>
            </div>
        </header>
        <section class="Imagen">
            <!-- <img src="/stylesheets/estudio.jpg" alt="bannerestudio"> -->
        </section>
        <section class="descripcion">
            <h2>¿Quienes Somos?</h2>
            <p>En nuestro servicios de Tutorias y Clases particulares nos especializamos en llevar a cabo el aprendizaje de tus hijos contando con los mejores profesionales del area, tu mejor eleccion a la hora de llevar el conocimiento a tu hogar.</p>
        </section>
        <section class="ventajas">
            <h2>Beneficios y Ventajas</h2>
            <ul>
                <li>Profesores con más de 10 años de experiencia</li>
                <li>Aprendizaje en la comodidad de tu casa</li>
                <li>Horarios Flexibles</li>
                <li>Tutorias diarias</li>
                <li>Plan de Aprendizaje Dinámico</li>
            </ul>
        </section>
        <section class="SJM">
            <h3>Sede San Juan de los Morros</h3>
        </section>
        <section class="Ubicacion">
            <h2>¿Donde estamos ubicados?</h2>
            <p>Ubicados en San Juan de los Morros, Estado Guárico. En el C.C Paseo San Juan Local N° 14</p>
            <p>Para Mas información contactanos al: 0426-2134567</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.5681470090271!2d-67.3588568328669!3d9.911240334314922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2aa9f29aceba8d%3A0xf83f8eb68c6f9247!2sPaseo%20San%20Juan%2C%20Av.%20Bolivar%2C%20San%20Juan%20de%20Los%20Morros%202301%2C%20Gu%C3%A1rico!5e0!3m2!1ses!2sve!4v1737149234019!5m2!1ses!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <footer>
            <p>Instituto certificado por el Ministerio de Educacion bajo Gaceta Oficial 12314</p>
            <p>RIF: J-12821918-0</p>
        </footer>
    </body>
</html>

<!--
  Copyright 2023 Google LLC

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

        <!DOCTYPE html>
        <html>
        <head>
            <title>Locator</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <style>
            html,
            body {
                height: 100%;
                margin: 0;
            }

            gmpx-store-locator {
                width: 100%;
                height: 100%;

                /* These parameters customize the appearance of Locator Plus. See the documentation at
                https://github.com/googlemaps/extended-component-library/blob/main/src/store_locator/README.md
                for more information. */
                --gmpx-color-surface: #fff;
                --gmpx-color-on-surface: #212121;
                --gmpx-color-on-surface-variant: #757575;
                --gmpx-color-primary: #1967d2;
                --gmpx-color-outline: #e0e0e0;
                --gmpx-fixed-panel-width-row-layout: 28.5em;
                --gmpx-fixed-panel-height-column-layout: 65%;
                --gmpx-font-family-base: "Roboto", sans-serif;
                --gmpx-font-family-headings: "Roboto", sans-serif;
                --gmpx-font-size-base: 0.875rem;
                --gmpx-hours-color-open: #188038;
                --gmpx-hours-color-closed: #d50000;
                --gmpx-rating-color: #ffb300;
                --gmpx-rating-color-empty: #e0e0e0;
            }
            </style>
            <script>
            const CONFIGURATION = {
                "locations": [
                {"title":"Tutorias SJM","address1":"Urb Abejitas","address2":"San Juan de los Morros, Guárico, Venezuela","coords":{"lat":9.9293332,"lng":-67.3376746}}
                ],
                "mapOptions": {"center":{"lat":38.0,"lng":-100.0},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":false,"zoom":4,"zoomControl":true,"maxZoom":17,"mapId":""},
                "mapsApiKey": "YOUR_API_KEY_HERE",
                "capabilities": {"input":false,"autocomplete":false,"directions":false,"distanceMatrix":false,"details":false,"actions":false}
            };

            </script>
            <script type="module">
            document.addEventListener('DOMContentLoaded', async () => {
                await customElements.whenDefined('gmpx-store-locator');
                const locator = document.querySelector('gmpx-store-locator');
                locator.configureFromQuickBuilder(CONFIGURATION);
            });
            </script>
        </head>
        <body>
            <script type="module" src="https://ajax.googleapis.com/ajax/libs/@googlemaps/extended-component-library/0.6.11/index.min.js"></script>

            <!-- Uses components from the Extended Component Library; see
                https://github.com/googlemaps/extended-component-library for more information
                on these HTML tags and how to configure them. -->
            <gmpx-api-loader key="YOUR_API_KEY_HERE" solution-channel="GMP_QB_locatorplus_v11_c"></gmpx-api-loader>
            <gmpx-store-locator map-id="DEMO_MAP_ID"></gmpx-store-locator>
        </body>
        </html>