<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicio de Tutoria y Clases particulares</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1>¡Servicio de Tutoria y Clases Particulares!</h1>
            <div class="secciones">
                <nav>
                    <a href="" class="nav-link">Inicio</a>
                    <a href="" class="nav-link">Opiniones</a>
                </nav>
            </div>
        </header>
        <section class="Imagen">
            <!-- <img src="/stylesheets/estudio.jpg" alt="bannerestudio"> -->
        </section>
        <section class="descripcion">
            <h2>¿Quienes Somos?</h2>
            <p>En nuestro servicios de Tutorias y Clases particulares nos especializamos en llevar a cabo el aprendizaje de tus hijos contando con los mejores profesionales del area, tu mejor eleccion a la hora de llevar el conocimiento a tu hogar.</p>
        </section>
        <section class="ventajas">
            <h2>Beneficios y Ventajas</h2>
            <ul>
                <li>Profesores con más de 10 años de experiencia</li>
                <li>Aprendizaje en la comodidad de tu casa</li>
                <li>Horarios Flexibles</li>
                <li>Tutorias diarias</li>
                <li>Plan de Aprendizaje Dinámico</li>
            </ul>
        </section>
        <section class="SJM">
            <h3>Sede San Juan de los Morros</h3>
        </section>
        <section class="Ubicacion">
            <h2>¿Donde estamos ubicados?</h2>
            <p>Ubicados en San Juan de los Morros, Estado Guárico. En el C.C Paseo San Juan Local N° 14</p>
            <p>Para Mas información contactanos al: 0426-2134567</p>
        </section>
        <footer>
            <p>Instituto certificado por el Ministerio de Educacion bajo Gaceta Oficial 12314</p>
            <p>RIF: J-12821918-0</p>
        </footer>
    </body>
</html>