<body>
    <header>
        <div class="logo">
            <h1>¡Hola Mundo!</h1>
            <img src="/stylesheets/ais.png" alt="logo ais">       
        </div>
    </header>
</body>


<div class="info">
<h2>Programacion 2</h2>
<p>Nombre: <%= nombre %></p>
<p>Cédula: <%= cedula %></p>
<p>Sección: <%= seccion %></p>
</div>
<link rel="stylesheet" href="/stylesheets/style.css">